.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* mycode */
body {
  background-color: #222;
}
.side-list {
  /* background-color: #222;
  color: white;
  padding-left: 0px;
  padding-right: 0px; */

  /* from https://github.com/zaynaib/map/blob/master/src/App.css */
  float:left;
  width: 15%;
  z-index: 1;
  height: 100vh;
  background-color: #666;
  color:black;
  
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
@media screen and (max-width: 480px) {
  .side-list {
    display: none;
  }
}

#mobile-slider-list {
  position: relative;
  left: -1000px;
}
.open {
  left: 0px !important;
}